<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.com.findproexperttabbed">

    <uses-sdk android:minSdkVersion="17" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/iconapp2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen.SplashActivityOpen"
            android:label="FindProExpert"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dark">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginScreen"
            android:label="FindProExpert"
            android:theme="@style/AppTheme.Dark">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUpPage"
            android:label="FindProExpert"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".HomeScreen.HomeScreen"
            android:label="FindProExpert-Home"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".SettingsPref"
            android:label="Settings" />
        <activity
            android:name=".HomeScreen.Professional.ViewRequests.ViewRequestActivity"
            android:label="View Requests" />
        <activity
            android:name=".BecomeAProActivity"
            android:label="Add Skills" />
        <activity
            android:name=".ProfileActivity"
            android:label="Profile" />
        <!-- <activity android:name=".ViewRequestAdapter"></activity> -->
        <activity
            android:name=".Notification.NotificationHomeActivity"
            android:label="Notifications" />
        <activity android:name=".Notification.Customer.ProfessionalResponded.ViewProfessionalResponded" />
        <activity android:name=".FeedBack" />

        <activity android:name=".FeedBackPage"></activity>
    </application>

</manifest>